@import "./reset.css";
@import "./variables.css";
@import "./global.css";
@import "utils.css";

.header {
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .header__logo-wrapper {
    width: var(--logo-width, 100px);
    flex-shrink: 0;

    @media (any-pointer: coarse) {
      --logo-width: var(--logo-width--mobile);
    }
  }

  .header__navigation-toggle {
    display: none;
    background: transparent;
    border: none;

    @media (any-pointer: coarse) {
      display: flex;
      align-items: center;
      --gap: 10px;
      --line-width: 30px;
      --line-height: 3px;
      --line-gap: 6px;
      padding-inline-end: var(--line-width);
      gap: var(--gap);
    }

    .header__navigation-toggle-icon {
      position: relative;
      pointer-events: none;
      height: calc(var(--line-height) * 3 + var(--line-gap) * 2);
    }

    span {
      display: block;
      position: absolute;
      width: var(--line-width);
      height: var(--line-height);
      background-color: #333;
      transition: .5s;
    }

    span:first-child {
      top: 0;
    }

    span:nth-child(2) {
      top: calc(50% - var(--line-height) / 2);
    }

    span:nth-child(3) {
      bottom: 0;
    }

    &[aria-expanded="true"] span:nth-child(2) {
      display: none;
    }

    &[aria-expanded="true"] span:first-child {
      top: calc(50% - var(--line-height) / 2);
      transform: rotate(-45deg);
    }

    &[aria-expanded="true"] span:last-child {
      top: calc(50% - var(--line-height) / 2);
      transform: rotate(45deg);
    }

    &[aria-expanded="true"] ~ .header__navigation {
      height: calc(100vh - 100%);
      height: calc(100dvh - 100%);
      overflow: auto;
    }
  }

  .header__navigation {
    @media (any-pointer: coarse) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 0;
      background-color: #fff;
      transition: height 0.75s ease;
      overflow: hidden;
    }

    ul {
      display: flex;
      align-items: center;

      @media (any-pointer: coarse) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
