html {
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  --font-family--primary: Mona Sans, sans-serif;
}

body {
  font-family: var(--font-family--primary);
  font-size: 18px;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.skip-to-content {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -99;
  text-decoration: none;
  color: black;
}

.skip-to-content:focus,
.skip-to-content:active {
  background-color: var(--_yellow);
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  overflow: auto;
  padding: 16px 20px;
  z-index: 99;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  word-break: break-word;
}

h1 {
  font-size: clamp(2.425rem, 2.425rem + ((1vw - 0.2rem) * 1.83), 3.5rem);
  line-height: 1.2;
}

a:not(:visited) {
  color: inherit;
}

.has-primary-color {
  color: var(--color--primary);
}

.has-secondary-color {
  color: var(--color--secondary);
}
