<header class="header">
  <div class="header__wrapper padding-4">
    <div class="header__logo-wrapper">
      {% if logo %}
        {{ logo }}
      {% else %}
        <a href="{{ site.url }}" class="header__logo-link">
          {{ site.name }}
        </a>
      {% endif %}
    </div>
    <button
      type="button"
      class="header__navigation-toggle js-header-navigation-toggle"
      aria-controls="header-navigation"
      aria-expanded="false"
    >
      <div class="header__navigation-toggle-text">Menu</div>
      <div class="header__navigation-toggle-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <nav
      role="navigation"
      aria-labelledby="header-navigation-heading"
      id="header-navigation"
      class="header__navigation"
    >
      <h2 id="header-navigation-heading" class="visually-hidden">Menu</h2>
      {# @see vendor/timber/timber/lib/Menu.php #}
      {% include 'components/menu.twig' with {
        items: header_menu.get_items
      } %}
    </nav>
  </div>
</header>
