{% if items %}
  <ul class="gap-2 padding-4--mobile display-flex align-items-center flex-direction-column--mobile align-items-start--mobile">
    {% for item in items %}
      <li class="{{ item.classes|join(' ') }}">
        <a target="{{ item.target }}" href="{{ item.link }}">
          {{ item.title }}
        </a>
        {% include 'components/menu.twig' with { items: item.children } %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
